@import '../../../../../styles.scss';

.darkBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .newChannelDescription{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @include displayFlex();
    .whiteWindow{
      width: 68vw;
      height: 48vh;
      background-color: whitesmoke;
      border-radius: 25px;
    }
  }
  