<div class="darkBackground" (click)="toggleShowAddChannelBox()"></div>
<div class="newChannelDescription">
  @if (!shwoNextWindow) {
  <div class="whiteWindow">
    <div class="posiotionHeader">
      <h2>Channel erstellen</h2>
      <app-small-btn
        [imgSrc]="'closeIcon.svg'"
        [imgSize]="'16px'"
        [btnSize]="'32px'"
        [btnBgHoverColor]="'#edeefe'"
        (click)="toggleShowAddChannelBox()"
      ></app-small-btn>
    </div>
    <span
      >Channels are for your team to communicate. It is best if they are
      topic-based.</span
    >
    <h2>Channel-Name</h2>
    <input
      type="text"
      class="textfieldStyle"
      placeholder="Choose a name for the channel."
      [(ngModel)]="channelName"
    />
    <div class="descriptionBox">
      <h2>Description</h2>
      &nbsp;
      <h3>(optional)</h3>
    </div>
    <textarea
      id=""
      cols="30"
      rows="10"
      class="textfieldStyle"
      [(ngModel)]="channelDescription"
      placeholder="Write here which topics can be discussed in the channel."
    ></textarea>
    <div class="btnBox">
      <button (click)="createNewChannel()">Cteate</button>
    </div>
  </div>
  } @else {
  <div class="smalWhiteBox">
    <div class="positionSelectionBtn">
      <img src="assets/img/{{ changeImg? 'radioButtonUnchecked.svg' : 'radioButtonChecked.svg'}}" alt="" (click)="toggleBtnFalse()" />
      <span
        >Add all members for the&nbsp;
        <p>office team</p>
        .</span
      >
    </div>
    <div class="positionSelectionBtn">
      <img src="assets/img/{{ !changeImg? 'radioButtonUnchecked.svg' : 'radioButtonChecked.svg'}}" alt="" (click)="toggleBtnTrue()"/>
      <span>Add certain people</span>
    </div>
    <input type="text" *ngIf="changeImg" class="textfieldStyle" [(ngModel)]="seachedUser" (keyup)="userService.filterUsers(seachedUser)">
    <div class="positionCreateBtn">
      <button class="btnBox">Create</button>
    </div>
  </div>
  }
</div>
