<div class="darkBackground" (click)="toggleShowAddChannelBox()"></div>
<div class="newChannelDescription">
  @if (!shwoNextWindow) {
  <div class="whiteWindow">
    <div class="posiotionHeader">
      <h2>Channel erstellen</h2>
      <app-small-btn
        [imgSrc]="'closeIcon.svg'"
        [imgSize]="'16px'"
        [btnSize]="'32px'"
        [btnBgHoverColor]="'#edeefe'"
        (click)="toggleShowAddChannelBox()"
      ></app-small-btn>
    </div>
    <span style="font-size: large;"
      >Channels are for your team to communicate. It is best if they are
      topic-based.</span
    >
    <div class="descriptionBox">
      <h2>Channel-Name</h2>
      &nbsp;
      <h3>(required)</h3>
    </div>
    <input
      type="text"
      class="textfieldStyle"
      placeholder="Choose a name for the channel - minimum 3 letters"
      [(ngModel)]="channelName"
      (keyup)="checkIfChannelNameIsValid(channelName)"
    />
    <div class="descriptionBox">
      <h2>Description</h2>
      &nbsp;
      <h3>(optional)</h3>
    </div>
    <textarea
      id=""
      cols="30"
      rows="10"
      class="textfieldStyle"
      [(ngModel)]="channelDescription"
      placeholder="Write here which topics can be discussed in the channel."
    ></textarea>
    <div class="btnBox">
      <button (click)="createNewChannel()"  [disabled]="!channelService.btnIsValid" [ngClass]="{ 'disabledBtn': !channelService.btnIsValid, 'furterBtnClass': channelService.btnIsValid}">Weiter</button>
    </div>
  </div>
  } @else {
  <div class="smalWhiteBox" (click)="toggleAddedUserBox()">
    <div class="headerAddPeople">
      <h2>Add People</h2>
      <app-small-btn
        [imgSrc]="'closeIcon.svg'"
        [imgSize]="'16px'"
        [btnSize]="'32px'"
        [btnBgHoverColor]="'#edeefe'"
        (click)="toggleShowAddChannelBox()"
      ></app-small-btn>
    </div>
    <div class="positionSelectionBtn">
      <img
        src="assets/img/{{
          changeImg ? 'radioButtonUnchecked.svg' : 'radioButtonChecked.svg'
        }}"
        alt=""
        (click)="toggleBtnFalse()"
      />
      <span>Add all members for the office team</span>
    </div>
    <div class="positionSelectionBtn">
      <img
        src="assets/img/{{
          !changeImg ? 'radioButtonUnchecked.svg' : 'radioButtonChecked.svg'
        }}"
        (click)="toggleBtnTrue()"
      />
      <span>Add certain people</span>
    </div>
    <div class="addedUserBox"  *ngIf="changeImg">
      <div
        class="userPosition"
        *ngFor="let user of getSelectedUsers; let i = index"
      >
        <img
          src="{{ user.avatar }}"
          class="avatarImg"
        />
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        <img
          src="assets/img/closeIcon.svg"
          class="imgClose"
          (click)="spliceCurrentUser(i)"
        />
      </div>
      <input
        type="text"
        class="inputfieldStyle"
        [(ngModel)]="userName"
        (keyup)="filterUsers(userName)"
      />
      <div
      class="showSearchedUsersWindow"
      [ngClass]="{ dBlock: showExistenUsers, dNone: !showExistenUsers }"
    >
      <div class="positionOfAllUsersInBox">
        @for(user of getSearchedUser; track user){
        <div class="user" (click)="chooseUser(user)">
          <div class="positionImgs">
            <img
              src="{{ user.avatar }}"
              class="avatarImg"
            />
            <img
              src="assets/img/{{ user.status ? 'onlineRing.svg' : 'offlineRing.svg' }}"
              class="onlineIcon"
            />
          </div>
          <h1>{{ user.firstName }} {{ user.lastName }}</h1>
        </div>
        }
      </div>
    </div>
    </div>
    <div class="positionCreateBtn">
      <button class="btnBox" (click)="addNewChannel()">Create</button>
    </div>
  </div>
  }
</div>
