<header>
  <img src="assets/img/home-icon.svg" class="homeIcon" />

  <div class="inputPosition">
    <input type="text" placeholder="Search content at current channel" class="fontNunito" [(ngModel)]="inputValue" (keyup)="filterAllInfo( inputValue)" />
    <img src="assets/img/search-icon.svg" />
    <div class="suggestionBox"  [ngClass]="{ showSearchWindow: toggleBoolean.openSearchWindowHead, hideSearchWindow: !toggleBoolean.openSearchWindowHead }">
      @if (getLegthOfFiltedUsers()) {
        <h4>Users:</h4>
        @for (user of filteredUsers; track user) {
          <p>{{user.firstName}} {{user.lastName}}</p>
        }
      }
      @if (getLegthOfFiltedChannels()) {
        <h4>Channels:</h4>
        @for (channel of filteredChannels; track channel) {
          <p>{{channel.name}}</p>
        }
      }
      @if (  getLegthOfFiltedChats()) {
        <h4>Threads:</h4>
        @for (chat of filteredChats; track chat) {
          <p>{{chat.message}}</p>
        }
      }
    </div>
  </div>

  <div>
    @for(i of userService.getCurentUsers(); track i){
    <h1 class="fontNunito">{{ i.firstName }} {{ i.lastName }}</h1>

    <div>
      <img src="{{i.avatar}}" class="profileImg" />
      <img
        src="assets/img/{{ isOnline ? 'onlineRing.svg' : 'offlineRing.svg' }}"
        class="onlineIcon"
      />
    </div>
    <img
      src="assets/img/keyboardArrowDown.svg"
      class="arrowDown"
      (click)="showSideMenu()"
    />
    }
  </div>
</header>

<div
  class="menu"
  [ngClass]="{ dBlock: openMenu, dNone: !openMenu }"
  (click)="showSideMenu()"
>
  <div class="whiteBox fontNunito">
    <p (click)="showProfile()" class="profilBtn">Profil</p>
    <p class="logOutBtn">Log out</p>
  </div>
</div>

<app-edit-user
  [ngClass]="{ dBlock: showCurrentProfile, dNone: !showCurrentProfile }"
  [showCurrentProfile]="showCurrentProfile"
  (testValueChange)="updateTestValue($event)"
></app-edit-user>
