@import "../../../../styles.scss";

header {
  height: 100%;
  @include displayFlex($j: space-between);
}

.leftSide {
  @include displayFlex($j: start);
  width: 20vw;
  .homeIcon {
    width: 242px;
    height: 70px;
    margin-left: 20px;
  }
}

.middleSide {
  width: 40vw;
}

.rightSide {
  width: 20vw;
  @include displayFlex($j: end, $g: 20px);
  p {
    font-size: 32px;
    font-weight: 700;
  }
  .profileImg {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  .onlineIcon {
    margin-left: -20px;
  }
  .arrowDown {
    margin-right: 20px;
    cursor: pointer;
  }
}

.suggestionBox::-webkit-scrollbar {
  display: none;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.whiteBox {
  background-color: white;
  @include displayFlex($g: 20px);
  flex-direction: column;
  width: 220px;
  height: 160px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: absolute;
  top: 110px;
  right: 20px;
  p {
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    padding: 8px;
    &:hover {
      width: 62%;
      background-color: #edeefe;
      border-radius: 15px;
      color: #444df2;
    }
  }
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 1100px) {
  .middleSide {
    display: none;
  }

  .rightSide,
  .leftSide {
    width: 50vw;
  }
}

@media screen and (max-width: 800px) {
  .rightSide {
    @include displayFlex($j: end, $g: 20px);
    p,
    .arrowDown {
      display: none;
    }
    .img {
      margin-right: 20px;
    }
  }
}
@media screen and (max-width: 500px) {
  .rightSide {
    .profileImg {
      width: 50px;
      height: 50px;
    }
  }

  .leftSide {
    .homeIcon {
      width: 162px;
      height: 45px;
    }
  }
}
