<header>
  <img src="assets/img/home-icon.svg" class="homeIcon" />

  <div class="inputPosition">
    <input type="text" placeholder="Search content at current channel" class="fontNunito" [(ngModel)]="inputValue" (keyup)="filterAllInfo( inputValue)" />
    <img src="assets/img/search-icon.svg" />
    <div class="suggestionBox"  [ngClass]="{ showSearchWindow: toggleBoolean.openSearchWindowHead, hideSearchWindow: !toggleBoolean.openSearchWindowHead }">
      <!-----Search output------>
      @if (filteredUsers.length > 0 && inputValue != '') {
        <div class="contantBox">
          <h4>Users:</h4>
          <div class="ansersBox">
            @for (user of filteredUsers; track user) {
              <div class="userDiv" (click)="checkRoute([user])">
                <div class="userImgDiv">
                  <img src="{{ user.avatar}}" class="userProfilImg">
                  <img src="assets/img/offlineRing.svg" class="userOnlineImg">
                </div>
                <p>{{user.firstName}} {{user.lastName}}</p>
              </div>
            }
          </div>
        </div>
      }
      @if (filteredChannels.length > 0 && inputValue != '') {
        <div class="contantBox">
          <h4>Channels:</h4>
          <div class="ansersBox">
            @for (channel of filteredChannels; track channel) {
              <p class="channelName" routerLink="/main/{{ channel.id }}"># {{channel.name}}</p>
            }
          </div>
        </div>
      }
      @if (filteredChats.length > 0 && inputValue != '') {
        <div class="contantBoxChats">
          <h4>Threads:</h4>
          <div class="channelAnswers">
            @for (chat of filteredChats; track chat) {
              <div class="ansersBoxChats">
                <p class="threadNmae">[ {{getChannel(chat.channelId)}} ]</p>
                <div class="threadContetntBox">
                  <p class="threadContetnt" [innerHTML]="chat.message" routerLink="/main/{{ chat.channelId }}"></p>
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>

  <div>
    <!----- right hreader side----->
    @for(i of userService.getCurentUsers(); track i){
    <h1 class="fontNunito">{{ i.firstName }} {{ i.lastName }}</h1>

    <div>
      <img src="{{i.avatar}}" class="profileImg" />
      <img
        src="assets/img/{{ isOnline ? 'onlineRing.svg' : 'offlineRing.svg' }}"
        class="onlineIcon"
      />
    </div>
    <img
      src="assets/img/keyboardArrowDown.svg"
      class="arrowDown"
      (click)="showSideMenu()"
    />
    }
  </div>
</header>

<div
  class="menu"
  [ngClass]="{ dBlock: openMenu, dNone: !openMenu }"
  (click)="showSideMenu()"
>
  <div class="whiteBox fontNunito">
    <p (click)="showProfile()" class="profilBtn">Profil</p>
    <p class="logOutBtn">Log out</p>
  </div>
</div>

<app-edit-user
  [ngClass]="{ dBlock: showCurrentProfile, dNone: !showCurrentProfile }"
  [showCurrentProfile]="showCurrentProfile"
  (testValueChange)="updateTestValue($event)"
></app-edit-user>
