section {
  display: flex;
  padding: 36px 48px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: #edeefe;
    .userContent {
      .content {
        background-color: #fff;
      }
    }
  }
}

app-options-menu {
  position: absolute;
  top: 0px;
  left: 12px;
  z-index: 2;
}

.userAvatar {
  padding-right: 24px;
  img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
}

.userContent {
  width: 100%;
  .name {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    span {
      font-size: 14px;
      font-weight: 400;
      margin-left: 12px;
    }
  }

  .content {
    width: 100%;
    margin-top: 6px;
    padding: 12px;
    font-size: 18px;
    font-weight: 400;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #eceefe;
    .msg {
      position: relative;
      width: 100%;
      span {
        font-size: 12px;
        font-style: italic;
      }
    }
    app-attachments  {
      height: 200px;
    }
  }
}

form {
  width: calc(100% - 28px);
  textarea {
    width: 100%;
    min-height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    padding: 12px;
    resize: none;
    &:focus {
      outline: none;
      padding: 11px;
      border: 2px dashed #000;
    }
    &:invalid {
      padding: 11px;
      border: 2px dashed red;
    }
  }
  .btns {
    app-small-btn {
      position: absolute;
      top: 12px;
      right: 12px;
    }
    .btnSend {
      position: absolute;
      bottom: 12px;
      right: 12px;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      .sendIcon {
        width: 24px;
        height: 24px;
      }
      &:hover {
        scale: 1.1;
        filter: brightness(0) saturate(100%) invert(56%) sepia(97%)
          saturate(1270%) hue-rotate(204deg) brightness(95%) contrast(94%);
      }
    }
  }
}

.disabledIcon {
  filter: brightness(0) saturate(100%) invert(45%) sepia(75%) saturate(684%)
    hue-rotate(204deg) brightness(101%) contrast(91%);
}

.mirror {
  transform: scaleX(-1);

  .content {
    background-color: #797ef3 !important;
  }
}

.answers {
  display: flex;
  align-items: center;
  margin-top: 12px;

  p {
    font-size: 18px;
    font-weight: 400;
  }

  span {
    padding-left: 12px;
    font-size: 14px;
    font-weight: 400;
  }
}
