<section (mouseenter)="showOptionMenu()" (mouseleave)="hideOptionMenu()">
  @if (openOnSecondaryChat){
  <app-options-menu
    [ngClass]="{
      'animation-coming-in': isOptionMenuVisible,
      'animation-coming-out': !isOptionMenuVisible
    }"
    [index]="index"
    [currentChat]="currentChat"
    (editMsgEmitter)="editMsgEmitter($event)"
  >
    ></app-options-menu
  >
  }
  <div class="userAvatar">
    <img src="{{ user.avatar }}" alt="" />
  </div>
  @if (!isMsgEditFormOpen) {
  <div
    class="userContent"
    [ngClass]="{ mirror: index % 2 !== 0 }"
    [ngStyle]="{ width: openOnSecondaryChat ? 'fit-content' : '80%' }"
  >
    <div class="name">
      {{ user.firstName }} {{ user.lastName }}
      <span>{{ convertTimestampHour(chat.publishedTimestamp) }}</span>
    </div>
    <div class="content">
      <div class="msg">
        {{ chat.message }}
        @if (chat.edited) {
        <span>(bearbeitet)</span>
        }
      </div>
      <app-attachments
        [chatId]="chat.id"
        [openOnSecondaryChat]="openOnSecondaryChat"
      ></app-attachments>
    </div>
    <div class="answers">
      @if (chatService.getChatAnswers(chat.id).length > 0 && showAnswer) {
      <p (click)="openSecondaryChat(chat.id)">
        {{ displayCountChatAnswer() }} Answers
      </p>
      <span>Last answer: {{ displayLastChatAnswer() }}</span>

      } @else if (showAnswer) {
      <p (click)="openSecondaryChat(chat.id)">Answer...</p>
      }
    </div>
    <app-reaction-emojis [chat]="chat"></app-reaction-emojis>
  </div>
  } @else {
  <div class="editForm" [ngClass]="{ mirror: index % 2 !== 0 }">
    <app-edit-msg
      [chat]="chat"
      (closeEditMsgEmitter)="closeEditMsgEmitter($event)"
    ></app-edit-msg>
  </div>
  }
</section>
