<section
  (click)="openSecondaryChat(currentChat, $event)"
  (mouseenter)="toggleOptionMenu()"
  (mouseleave)="toggleOptionMenu()"
>
  @if (showOptionsMenu){
  <app-options-menu
    [ngStyle]="{ display: isOptionMenuVisible ? 'block' : 'none' }"
    [index]="index"
  ></app-options-menu>
  }
  <div class="userAvatar">
    <img src="assets/img/user-icons/{{ user.avatar }}.svg" alt="" />
  </div>
  <div class="userContent" [ngClass]="{ mirror: index % 2 !== 0 }">
    <div class="name">
      {{ user.firstName }} {{ user.lastName }}
      <span>{{ convertTimestampHour(chat.publishedTimestamp) }}</span>
    </div>
    <div class="msg">
      {{ chat.message }}
      <app-attachments [chatId]="chat.id"></app-attachments>
    </div>
    @if (chatService.getChatAnswers(chat.id).length > 0 && showAnswer) {
    <div class="answers">
      <p>{{ displayCountChatAnswer() }} Answers</p>
      <span>Last answer: {{ displayLastChatAnswer() }}</span>
    </div>
    }
  </div>
</section>
