<section (click)="openSecondaryChat(currentChat)">
  <div class="userAvatar">
    <img
      src="./../../../../assets/img/user-icons/{{ user.avatar }}.svg"
      alt=""
    />
  </div>
  <div class="userContent" [ngClass]="{ mirror: index % 2 !== 0 }">
    <div class="name">
      {{ user.firstName }} {{ user.lastName }}
      <span>{{ convertTimestamp(chat.publishedTimestamp) }}</span>
    </div>
    <div class="msg">{{ chat.message }}</div>
    @if (chatService.getChatAnswers(chat.id).length > 0 && showAnswer) {
    <div class="answers">
      <p>{{ displayCountChatAnswer() }} Antworten</p>
      <span>Letzte Antwort {{ displayLastChatAnswer() }}</span>
    </div>
    }
  </div>
</section>
