section {
  display: flex;
  padding: 32px 48px;
  position: relative;
  &:hover {
    background-color: #edeefe;
    .userContent {
      .content {
        background-color: #fff;
      }
    }
  }
}

app-options-menu {
  position: absolute;
  top: 0px;
  right: 12px;
  z-index: 2;
}

.userAvatar {
  padding-right: 24px;
  img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
}

.userContent {
  width: fit-content;
  .name {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    span {
      font-size: 14px;
      font-weight: 400;
      margin-left: 12px;
    }
  }

  .content {
    max-width: 100%;
    overflow-x: auto;
    margin-top: 6px;
    padding: 12px;
    font-size: 18px;
    font-weight: 400;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #eceefe;
    .msg {
      position: relative;
      width: 100%;
      span {
        font-size: 12px;
        font-style: italic;
      }
    }
    app-attachments  {
      height: 200px;
    }
  }
}

.mirror {
  transform: scaleX(-1);
  .content {
    color: #fff;
    border-top-left-radius: 24px;
    border-top-right-radius: 0;
  }
  .content {
    background-color: #797ef3 !important;
  }
}

.answers {
  display: flex;
  align-items: center;
  margin: 12px 0 6px 0;
  p {
    margin-right: 2px;
    font-size: 18px;
    font-weight: 400;
    color: #535af1;
    cursor: pointer;
    &:hover {
      margin-right: 0;
      font-weight: 700;
      color: #444df2;
    }
  }
  span {
    padding-left: 12px;
    font-size: 14px;
    font-weight: 400;
  }
}

.editForm {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/*------------- ANIMATION -------------*/

.animation-coming-in {
  animation: coming-in 125ms ease-in-out forwards;
}

.animation-coming-out {
  animation: coming-out 125ms ease-in-out forwards;
}

@keyframes coming-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes coming-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
