section {
  display: flex;
  padding: 24px 48px;
  cursor: pointer;
  &:hover {
    background-color: #edeefe;
    .userContent {
      .msg {
        background-color: #fff;
      }
    }
  }
}

.userAvatar {
  padding-right: 24px;
  img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
}

.userContent {
  .name {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    span {
      font-size: 14px;
      font-weight: 400;
      margin-left: 12px;
    }
  }
  .msg {
    margin-top: 6px;
    padding: 12px;
    font-size: 18px;
    font-weight: 400;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #eceefe;
  }
}

.mirror {
  transform: scaleX(-1);
  .msg {
    background-color: #797ef3 !important;
  }
}

.answers {
  display: flex;
  align-items: center;
  margin-top: 12px;
  p {
    font-size: 18px;
    font-weight: 400;
  }
  span {
    padding-left: 12px;
    font-size: 14px;
    font-weight: 400;
  }
}

.attachments {
  img {
    width: auto;
    height: 80px;
    margin: 12px;
    border: 1px solid #000;
  }
}

.files {
  display: flex;
}
