<div class="grayBackground" (click)="closeEditUserWindow()"></div>
@for(i of userService.getCurentUsers(); track i){
<div class="whiteBox">
    <div class="boxHeader fontNunito">
      <h2 class="fontNunito">{{ 'edit-user-details.profile' | translate }}</h2>
      <div class="positionCloseIcon" (click)="closeEditUserWindow()">
        <img src="assets/img/closeIcon.svg" class="closeIcon" />
      </div>
    </div>

    <img src="{{ i.avatar }}" class="profileImg" />

    <div class="inputBox">
      <div class="positionName">
        <div class="positionNameIcon">
          <img src="assets/img/personCircle.svg" />
          <h1 class="fontNunito">{{ 'edit-user-details.fullName' | translate }}</h1>
        </div>
        @if (!filterGuest()) {
          <input
            class="inputName"
            class="inputDisabled"
            type="text"
            placeholder="{{ 'edit-user-details.placeholder' | translate }}"
            [(ngModel)]="nameValue"
            required
            minlength="3"
            [disabled]="asGuestOnline"
            (keyup)="checkIfUserNameIsValid(nameValue)"
          />
        } @else {
          <input
            class="inputName"
            type="text"
            placeholder="{{ 'edit-user-details.placeholder' | translate }}"
            [(ngModel)]="nameValue"
            required
            minlength="3"
            (keyup)="checkIfUserNameIsValid(nameValue)"
          />
        }
      </div>

      <div class="positionName">
        <div class="positionNameIcon">
          <img src="assets/img/mail-iconBlack.svg" />
          <h1 class="fontNunito">{{ 'edit-user-details.email' | translate }}</h1>
        </div>
        @if (!filterGuest()) {
          <input
            class="inputDisabled"
            type="email"
            required
            name="emailValue"
            placeholder="{{ 'edit-user-details.placeholder2' | translate }}"
            [(ngModel)]="emailValue"
            [disabled]="asGuestOnline"
            (keyup)="checkIfUserEmailIsValid(emailValue)"
          />
        } @else {
          <input
            class="inputName"
            type="email"
            required
            name="emailValue"
            placeholder="{{ 'edit-user-details.placeholder2' | translate }}"
            [(ngModel)]="emailValue"
            (keyup)="checkIfUserEmailIsValid(emailValue)"
          />
        }
      </div>
    </div>

    <div class="position2Btn">
      <button class="cancelBtn" (click)="closeEditUserWindow()">{{ 'edit-user-details.cancel' | translate }}</button>
      <button
        [disabled]="!channelService.saveEditBtnIsValid"
        [ngClass]="{disabledBtn: !channelService.saveEditBtnIsValid, saveBtn: channelService.saveEditBtnIsValid}"
        (click)="saveNewUserData()">
        {{ 'edit-user-details.save' | translate }}
      </button>
    </div>
    @if (asGuestOnline) {
      <p>{{ 'edit-user-details.errorMessage' | translate }}</p>
    }
  </div>
}
