.smallBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  cursor: pointer;
  &:hover {
    background-color: var(--btnBgHoverColor);
    border-radius: 100%;
    scale: 1.1;
    img {
      scale: 1.1;
    }
  }
}
