<form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="contactForm">
 
    <!-- <input #name="ngModel" [(ngModel)]="usersData.firstName" id="name" name="name" type="text" placeholder="" required />1
    @if (!name.valid && name.touched) {
        <p class="error">Name ist erforderlich.</p>
  } -->
    <input #emailField="ngModel" [(ngModel)]="email" id="email" name="email"  type="email" placeholder="email" required  pattern="[^@]+@[^.]+..+"/>2
    @if (!emailField.valid && emailField.touched) {
      
  }
    <input #message="ngModel" minlength="10" [(ngModel)]="password" name="message" placeholder="pw" id="message" cols="30" rows="10" >3
    @if (!message.valid && message.touched) {

    }
    <div class="checkBox">
    </div>
    <button [disabled] >Regestrieren</button> 
    
    
  </form>