// .content{
// display: flex;
// justify-content: center;
// }
.loginSektion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #eceefe;
  // max-width: 1920px; für max width aufbau
}
.registerContainer {
  max-width: 606px;
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 16px;
  max-height: 669px;
  height: 100%;
}
.registerTop {
    // margin-top: 32px;   ursprung aber damit beim switchen gleich bleibt mal testen unter hier->
    // margin-bottom: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  > span {
    width: 90%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-right: 48px;

    color: #444df2;
  }
}

.registerBackImg{
    cursor: pointer;

}
.registerInfoText{
    margin-bottom: 24px;
    text-align: center;
    max-width: 486px;
    >span{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    }
}
.inputContainer {
  position: relative;
  margin-bottom: 32px;
}
.iconP {
  position: absolute;
  top: 16px;
  left: 20px;
}
.inputField {
  padding-left: 60px;
  border: 1px solid #444df2;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background: #eceefe;
  height: 60px;
  border-radius: 100px;
}
.error{
    position: absolute;
    margin: 4px;
}
.contactForm{
    width: 90%;
}
.checkBox{
    display: flex;
    align-items: center;
    gap: 8px;
    >div{
        cursor: pointer;
    }
}
.registerBottom{
    display: flex;
    justify-content: end;
    margin-top: 32px;
}

button {
  padding: 12px 25px;
  color: #fff;
  background-color: #cacad6;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: 0.2s;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
}
.aktivButton {
  padding: 12px 25px;
  color: #fff;
  background-color: #444df2;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: 0.2s;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}