button{
    font-size: 18px;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 25px;
    color: #fff;
    background-color: #cacad6;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: .2s;

}
.aktivButton{
    font-size: 18px;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 25px;
    color: #fff;
    background-color: #444df2;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: .2s;

}