<form
  (ngSubmit)="onSubmit(chat.id, taskForm)"
  #taskForm="ngForm"
  onsubmit="return false"
>
  <textarea
    type="text"
    id="message"
    name="message"
    minlength="3"
    #message="ngModel"
    [(ngModel)]="chat.message"
    >{{ originalMessage }}</textarea
  >
  <img
    src="assets/img/smileIcon.svg"
    class="interactIcons"
    (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
    (click)="toggleShowEmojis()"
  />
  <div
    class="smileysBackground"
    [ngClass]="{ dBlock: showEmojis, dNone: !showEmojis }"
    (click)="toggleShowEmojis()"
  >
    <emoji-mart
      class="emoji-mart"
      *ngIf="isEmojiPickerVisible"
      (emojiSelect)="addEmoji($event)"
      title="Choose your emoji"
    ></emoji-mart>
  </div>
  <div class="btns">
    <app-small-btn
      [imgSrc]="'closeIcon.svg'"
      [imgSize]="'15px'"
      [btnSize]="'26px'"
      [btnBgHoverColor]="'#edeefe'"
      (click)="closeEditMsg()"
    >
    </app-small-btn>
    <button type="submit" class="btnSend" [disabled]="message.invalid">
      <img
        src="assets/img/sendIcon.svg"
        alt="Send"
        class="sendIcon"
        [ngClass]="{ disabledIcon: message.invalid }"
      />
    </button>
  </div>
</form>
