<form
  (ngSubmit)="onSubmit(chat.id, taskForm)"
  #taskForm="ngForm"
  onsubmit="return false"
>
  <textarea
    type="text"
    id="message"
    name="message"
    minlength="6"
    #message="ngModel"
    [(ngModel)]="chat.message"
    >{{ originalMessage }}</textarea
  >
  <img
    src="assets/img/smileIcon.svg"
    class="interactIcons"
    (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
    (click)="toggleShowEmojis()"
  />
  <div
    class="smileysBackground"
    [ngClass]="{ dBlock: showEmojis, dNone: !showEmojis }"
    (click)="toggleShowEmojis()"
  >
    <emoji-mart
      class="emoji-mart"
      *ngIf="isEmojiPickerVisible"
      (emojiSelect)="addEmoji($event)"
      title="Choose your emoji"
    ></emoji-mart>
  </div>
  <div class="btns">
    <button type="reset" class="btn" (click)="closeEditMsg()">Cancel</button>
    <button
      type="submit"
      class="btn"
      [disabled]="message.invalid || chat.message == originalMessage"
    >
      Save
    </button>
  </div>
</form>
