form {
  position: relative;
  width: calc(100% - 24px);
  textarea {
    width: calc(100% - 80px);
    height: 100px;
    border: 0;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    padding: 12px;
    resize: none;
    &:focus {
      outline: none;
    }
    &:invalid {
      border: 1px solid red;
    }
  }
}

.userInteraction {
  display: flex;
  justify-content: space-between;
  width: 100%;
  img {
    padding-left: 24px;
  }
}

.btns {
  padding: 12px 0;
  .btn {
    padding: 12px 25px;
    border-radius: 50px;
    border: 1px solid #6971f5;
    background-color: #6971f5;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    &:disabled {
      background-color: #686868;
    }
    &:first-child {
      margin-right: 12px;
      background-color: #fff;
      color: #6971f5;
    }
    &:hover {
      background-color: #444df2;
      border-color: #444df2;
      color: #fff;
      &:disabled {
        background-color: #686868;
      }
    }
  }
}

.interactIcons {
  cursor: pointer;
  transition: filter 0.3s ease;
  padding: 8px;
  &:hover {
    scale: 1.1;
    background-color: #b7bae7;
    border-radius: 50%;
    filter: brightness(120%);
  }
}

.emoji-mart {
  z-index: 99 !important;
}

.smileysBackground {
  position: absolute;
  left: -500px;
  bottom: -70px;
  z-index: 99 !important;
}

.disabledIcon {
  filter: brightness(0) saturate(100%) invert(45%) sepia(75%) saturate(684%)
    hue-rotate(204deg) brightness(101%) contrast(91%);
}

.files {
  position: absolute;
  padding-top: 12px;
  top: 0;
  right: -24px;
}

.fileBox {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 6px;
  background-color: #eee;
  max-width: 40px;
  max-height: 20px;
  margin-right: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .fileIcons {
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
    &:hover {
      filter: brightness(0) saturate(100%) invert(20%) sepia(40%)
        saturate(6312%) hue-rotate(236deg) brightness(106%) contrast(90%);
    }
  }
}

.closeIcon {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 16px;
  object-fit: contain;
  cursor: pointer;
  &:hover {
    filter: brightness(0) saturate(100%) invert(20%) sepia(78%) saturate(5090%)
      hue-rotate(5deg) brightness(105%) contrast(103%);
  }
}
