@import '../../../../styles.scss';

section{
 height: 100%;
 border-radius: 24px;
 background-color: #fff;
}

.header {
    height: auto;
    display: flex;
    padding: 8px 28px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
}

.headerBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headline {
    display: flex;
    align-items: center;
    padding: 8px;
    max-width: fit-content;
    cursor: pointer;
    .imgBox{
        @include displayFlex();
        margin-right: 16px;
        .imgUser {
            width: 56px;
            height: 56px;
            object-fit: cover;
            border-radius: 50%;
          }
    }
    p {
      font-size: 24px;
      font-weight: 700;
      padding-right: 12px;
    }
    &:hover {
        background-color: #edeefe;
        border-radius: 35px;
    }
}