<section>
  <!-- Channel -->
  @if (getChannel(currentChannel).length > 0) {
  <div class="headline"># {{ getChannel(currentChannel)[0].name }}</div>
  <p>
    Der Channel wurde von @for (user of
    getChatUsers(getChannel(currentChannel)[0].creator); track user) {
    {{ user.firstName }}
    {{ user.lastName }}
    } am
    {{ timeConverter(getChannel(currentChannel)[0].createdDate) }} erstellt. Das
    ist der Anfang des Channels
    <span>#{{ getChannel(currentChannel)[0].name }}</span
    >.
  </p>
  <!-- Privat Chat -->
  } @if (getPrivatChannel(currentChannel).length > 0) {
  <!-- My Chat -->
  @if (getPrivatChannel(currentChannel)[0].talkToUserId == userService.userId &&
  getPrivatChannel(currentChannel)[0].creatorId == userService.userId) {
  <div class="headlinePrvChat">
    @for (user of getChatUsers(getPrivatChannel(currentChannel)[0].creatorId);
    track user) {
    <div class="imgBoxPrvChat">
      <img class="imgUserPrvChat" src="{{ user.avatar }}" />
    </div>
    <p>{{ user.firstName }} {{ user.lastName }} (Du)</p>
    }
  </div>
  <p>
    Dieser Raum ist nur für dich da. Mache dir Notizen, liste deine To-dos auf
    oder bewahre Links und Dateien griffbereit auf. Du kannst hier auch gerne
    Dinge mit dir selbst besprechen.
  </p>
  } @else {
  <!-- Privat Chat (creatorId) -->
  @if (getPrivatChannel(currentChannel)[0].talkToUserId == userService.userId) {
  <div class="headlinePrvChat">
    @for (user of getChatUsers(getPrivatChannel(currentChannel)[0].creatorId);
    track user) {
    <div class="imgBoxPrvChat">
      <img class="imgUserPrvChat" src="{{ user.avatar }}" />
    </div>
    <p>{{ user.firstName }} {{ user.lastName }}</p>
    }
  </div>
  <p>
    Diese Unterhaltung findet nur zwischen @for (user of
    getChatUsers(getPrivatChannel(currentChannel)[0].creatorId); track user) {
    <span>&commat;{{ user.firstName }}{{ user.lastName }}</span>
    } und dir statt.
  </p>
  } @else {
  <!-- Privat Chat (talkToUserId) -->
  <div class="headlinePrvChat">
    @for (user of
    getChatUsers(getPrivatChannel(currentChannel)[0].talkToUserId); track user)
    {
    <div class="imgBoxPrvChat">
      <img class="imgUserPrvChat" src="{{ user.avatar }}" />
    </div>
    <p>{{ user.firstName }} {{ user.lastName }}</p>
    }
  </div>
  <p>
    Diese Unterhaltung findet nur zwischen @for (user of
    getChatUsers(getPrivatChannel(currentChannel)[0].talkToUserId); track user)
    {
    <span>&commat;{{ user.firstName }} {{ user.lastName }}</span>
    } und dir statt.
  </p>
  } } }
</section>
