@import "./../../../../../styles.scss";

.attachments {
  a {
    height: 80px;

    .basicFileLookHover {
      cursor: pointer;
      width: auto;
      height: 80px;
      margin: 12px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      transition: 0.3s ease-in-out;

      &:hover {
        scale: 1.1;
      }
    }

    .basicFileLook {
      cursor: pointer;
      width: auto;
      height: 80px;
      margin: 12px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .audioLook {
      cursor: pointer;
      height: 80px;
      min-width: 280px;
    }
    .pdfDiv {
      @include displayFlex();
      flex-direction: column;
      .pdfPreViewer {
        cursor: pointer;
        width: auto;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }
      button {
        width: 84px;
        height: 29px;
        background-color: white;
        border: none;
        border-radius: 25px;
        font-size: small;
        color: #444df2;
        transition: 0.3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px;
        text-decoration: none !important;
        outline: none !important;
        margin-top: 12px;
        &:hover {
          background-color: #444df2;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.files {
  display: flex;
}
