@import "./../../../../../styles.scss";

.files {
  display: flex;
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  width: min-content;
  overflow-x: auto;
  overflow-y: hidden;
  .filesView {
    padding: 12px 12px 6px 12px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    img,
    video {
      height: 7.5vw;
      width: auto;
      border-radius: 12px;
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
    }
    .otherFiles {
      height: 5vw;
      width: auto;
      border-radius: 12px;
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
    }
    &:hover {
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
    }
  }
}
