<ng-container *ngIf="downloadFilesService.downloadedFiles | async as files">
  <div class="attachments" *ngFor="let folder of files">
    <div *ngIf="chatId == folder.id">
      <br />
      <div class="files">
        <div *ngFor="let file of folder.files">
          <div class="filesView">
            <a href="{{ file }}" target="_blank">
              @if (getFileType(file) === 'png' || getFileType(file) === 'jpg' ||
              getFileType(file) === 'jpeg' || getFileType(file) === 'gif') {
              <img src="{{ file }}" alt="" />
              } @if (getFileType(file) === 'pdf') {
              <img
                class="otherFiles"
                src="./../../../../../assets/img/attachments/pdf.png"
                alt=""
              />
              } @if (getFileType(file) === 'doc') {
              <img
                class="otherFiles"
                src="./../../../../../assets/img/attachments/doc.png"
                alt=""
              />
              } @if (getFileType(file) === 'txt') {
              <img
                class="otherFiles"
                src="./../../../../../assets/img/attachments/txt.png"
                alt=""
              />
              } @if (getFileType(file) === 'mp3') {
              <img
                class="otherFiles"
                src="./../../../../../assets/img/attachments/audio.png"
                alt=""
              />
              }@if (getFileType(file) === 'mp4') {
              <video controls src="{{ file }}"></video>
              }
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
