<ng-container *ngIf="downloadFilesService.downloadedFiles | async as files">
  <div class="attachments" *ngFor="let folder of files">
    <div *ngIf="chatId == folder.id">
      <br />
      <div class="files">
        <div *ngFor="let file of folder.files">
          <div class="filesView">
            <a href="{{ file }}" target="_blank">
              @if (['png', 'jpg', 'jpeg', 'gif'].includes(getFileType(file))) {
              <img
                src="{{ file }}"
                alt="image"
                [ngStyle]="{ height: openOnSecondaryChat ? '7.5vw' : '5vw' }"
              />
              } @if (['pdf', 'doc', 'txt', 'mp3', 'wav',
              'wma'].includes(getFileType(file))) {
              <img
                class="otherFiles"
                src="./../../../../../assets/img/attachments/{{
                  getFileType(file)
                }}.png"
                alt="image"
                [ngStyle]="{ height: openOnSecondaryChat ? '5vw' : '3vw' }"
              />
              } @if (getFileType(file) === 'mp4') {
              <video
                controls
                src="{{ file }}"
                alt="video"
                [ngStyle]="{ height: openOnSecondaryChat ? '7.5vw' : '5vw' }"
              ></video>
              }
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
