section {
  position: absolute;
  top: -24px;
  left: 12px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 46px;
  background-color: #fff;
  padding: 3px 15px 3px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

app-small-btn {
  padding: 0 8px;
}

.mirror {
  transform: scaleX(-1);
}
