section {
  position: absolute;
  top: -24px;
  right: 12px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 256px;
  height: 46px;
  background-color: #fff;
  padding: 3px 15px 3px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: absolute;
  top: 52px;
  right: 0;
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  p {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    &:hover {
      color: #545af1;
      background-color: #edeefe;
    }
  }
}

app-emoji-picker {
  position: absolute;
  top: 53px;
  left: 150px;
  z-index: 3;
  width: fit-content;
}

app-small-btn {
  padding: 0 8px;
}

.d-none {
  display: none;
}

.mirror {
  transform: scaleX(-1);
}

.mirrorEmojiPicker {
  left: -195px;
}

/*------------- ANIMATION -------------*/

.animation-coming-in {
  animation: coming-in 125ms ease-in-out forwards;
}

.animation-coming-out {
  animation: coming-out 125ms ease-in-out forwards;
}

@keyframes coming-in {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes coming-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
