<section
  [ngClass]="{ mirror: index % 2 !== 0 }"
  (mouseleave)="this.isNavOpen = false"
>
  <div class="content">
    <app-small-btn
      [imgSrc]="'okay.svg'"
      [imgSize]="'24px'"
      [btnSize]="'36px'"
      [imgFilter]="'none'"
      [btnBgHoverColor]="'#edeefe'"
      (click)="addReactionIcon('okay', currentChat)"
    >
    </app-small-btn>
    <app-small-btn
      [imgSrc]="'clap-hands.svg'"
      [imgSize]="'24px'"
      [btnSize]="'36px'"
      [imgFilter]="'none'"
      [btnBgHoverColor]="'#edeefe'"
      (click)="addReactionIcon('clap-hands', currentChat)"
    >
    </app-small-btn>
    <app-small-btn
      [imgSrc]="'add-reaction.svg'"
      [imgSize]="'24px'"
      [btnSize]="'36px'"
      [btnBgHoverColor]="'#edeefe'"
      (click)="toggleEmojiPicker()"
    >
    </app-small-btn>
    <app-small-btn
      (click)="toggleSecondaryChat(currentChat)"
      [imgSrc]="'answer.svg'"
      [imgSize]="'24px'"
      [btnSize]="'36px'"
      [btnBgHoverColor]="'#edeefe'"
    >
    </app-small-btn>
    <app-small-btn
      (click)="toggleNav()"
      [imgSrc]="'more-vertical.svg'"
      [imgSize]="'24px'"
      [btnSize]="'36px'"
      [btnBgHoverColor]="'#edeefe'"
    >
    </app-small-btn>
  </div>
  <div
    class="nav"
    [ngClass]="{
      'd-none': !isNavOpen,
      'animation-coming-in': isNavOpen,
      'animation-coming-out': !isNavOpen
    }"
    (click)="editMsg()"
  >
    <p>Edit message</p>
  </div>
  @if(isEmojiPickerVisible) {
  <app-emoji-picker
    [output]="'id'"
    [ngClass]="{ mirrorEmojiPicker: index % 2 !== 1 }"
    (emojiOutputEmitter)="emojiOutputEmitter($event, currentChat)"
    (emojiVisibleEmitter)="emojiVisibleEmitter($event)"
  ></app-emoji-picker>
  }
</section>
