@import '../../../../../styles.scss';

.grayBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    @include displayFlex();
}

.whiteBox{
    width: 440px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 15px;
    position: absolute;
    z-index: 5;
    top: 110px;
    right: 20px;
    @include displayFlex();
    flex-direction: column;
    padding-top: 32px;
    border-top-right-radius: 0;
    .boxHeader{
        width: 360px;
        @include displayFlex($j: space-between);

        .positionCloseIcon {
            width: 40px;
            height: 40px;
            @include displayFlex();
            margin-right: -10px;
            transition: 0.3s ease-in-out;
            &:hover {
                background-color: #ECEEFE;
                border-radius: 25px;
                cursor: pointer;
                > img {
                    filter: invert(59%) sepia(26%) saturate(871%) hue-rotate(199deg) brightness(93%) contrast(100%);
                }
            }
        }
    }
    .profileImg{
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin: 56px;
    }
    >button{
        @include displayFlex($g: 12px);
        background-color: #444df2;
        border: none;
        border-radius: 25px;
        padding: 12px;
        padding-left: 22px;
        padding-right: 22px;
        font-size: larger;
        font-weight: 500;
        color: white;
        margin: 32px;
        cursor: pointer;
    }
}

.detailsBox{
    width: 360px;
    .editBtnPosition{
        @include displayFlex($j: space-between);
        margin-bottom: 20px;
        h1{
            font-size: 32px;
            font-weight: 700;
        }
        .editBtn{
            color: #535AF1;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover{
                font-weight: 600;
            }
        }
    }
    .statusBox{
        @include displayFlex($j:flex-start, $g: 12px);
        margin-bottom: 40px;
        >p{
            margin: 0;
            font-size: medium;
            font-weight: 500;
        }
    }
}

.fontColorGreen{
    color: #92C83E;
}

.emailBox{
    @include displayFlex($j: flex-start, $a: flex-start, $g: 20px);
    height: 96px;
    .emailH2{
        >h2{
            margin-bottom: 20px;
        }
        >a{
            color: #4EA1FF;
            font-size: 16px;
            text-decoration: none;
            padding-top: 20px;
        }
    }
}