
<div class="grayBackground" (click)="closeCurrentProfile()"></div>
@for(i of userService.getCurentUsers(); track i){
  <div class="whiteBox">
    <div class="boxHeader fontNunito">
      <h2 class="fontNunito">Profil</h2>
      <div class="positionCloseIcon" (click)="closeCurrentProfile()">
        <img src="assets/img/closeIcon.svg" class="closeIcon"/>
      </div>
    </div>
    <img
      src="assets/img/user-icons/{{i.avatar}}.svg"
      class="profileImg"
      (click)="showSideMenu()"
    />
    <div class="detailsBox">
      <div class="editBtnPosition">
        <h1 class="fontNunito">{{i.firstName}} {{i.lastName}}</h1>
        <p class="editBtn" (click)="openEditUser()">Edit</p>
      </div>

      <div class="statusBox">
        <img
          src="assets/img/{{ isOnline ? 'onlineRing.svg' : 'offlineRing.svg' }}"
        />
        <p [ngClass]="{ fontColorGreen: isOnline }">Aktiv</p>
      </div>

      <div class="emailBox">
        <img src="assets/img/mail-icon.svg" />
        <div class="emailH2">
          <h2>E-Mail-Address</h2>
          <a
            href="mailto:wwweewefeff&#64;dede.de"
            target="_blank"
            class="fontNunito"
            >{{i.email}}</a
          >
        </div>
      </div>
    </div>
  </div>
}

<app-edit-user-details
  [ngClass]="{ 'dBlock': openEditUserValue, 'dNone': !openEditUserValue }"
  [openEditUserValue]="openEditUserValue" 
  [showCurrentProfile]="showCurrentProfile"
  (closeEditWindow)="updateCloseValue($event)"
  (saveUserData)="updateCloseValue($event)"
></app-edit-user-details>
