<section>
    <div class="darkBackground" (click)="closeWindow()"></div>
    @for(i of user; track i){
        <div class="whiteBox">
          <div class="boxHeader fontNunito">
            <h2 class="fontNunito">Profil</h2>
            <div class="positionCloseIcon" (click)="closeWindow()">
              <img src="assets/img/closeIcon.svg" class="closeIcon"/>
            </div>
          </div>
          <img
            src="{{i.avatar}}"
            class="profileImg"
          />
          <div class="detailsBox">
            <div class="editBtnPosition">
              <h1 class="fontNunito">{{i.firstName}} {{i.lastName}}</h1>
            </div>
      
            <div class="statusBox">
              <img
                src="assets/img/{{ isOnline ? 'onlineRing.svg' : 'offlineRing.svg' }}"
              />
              @if (isOnline) {
              <p class="fontColorGreen">Aktiv</p>
              } @else {
                <p>Offline</p>
              }
            </div>
      
            <div class="emailBox">
              <img src="assets/img/mail-icon.svg" />
              <div class="emailH2">
                <h2>E-Mail-Address</h2>
                <a
                  href="mailto:wwweewefeff&#64;dede.de"
                  target="_blank"
                  class="fontNunito"
                  >{{i.email}}</a
                >
              </div>
            </div>
          </div>
          <button (click)="routToUser(user)"><img src="assets/img/messageIcon.svg"> Message</button>
        </div>
      }
</section>
