section {
  display: flex;
  flex-direction: column;
  max-height: 32vh;
  margin: 18px 0 0 12px;
  overflow: auto;
  width: 300px;
}

.user {
  display: flex;
  align-items: center;
  margin: 6px;
  padding: 6px;
  max-width: fit-content;
  cursor: pointer;
  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    padding: 0 12px 0 18px;
    text-align: left;
  }
  &:hover {
    background-color: #edeefe;
    border-radius: 36px;
  }
}

.dot {
  width: 12px;
  height: 12px;
  margin-top: 34px;
  margin-left: -12px;
  border: 2px 0px 0px 0px;
  background-color: #92c83e;
  border-radius: 100%;
  border: 2px solid #fff;
}
