<section>
  @for (directMessage of displayPrivateChat(this.userService.userId); track
  directMessage) { @if (directMessage.talkToUserId === this.userService.userId)
  { @for (user of getChatUsers(directMessage.creatorId); track user){
  <div class="user" routerLink="/main/{{ directMessage.id }}">
    <img src="{{ user.avatar }}" alt="" />
    <div class="dot"></div>
    <p>{{ user.firstName }} {{ user.lastName }}</p>
  </div>
  } } @if (directMessage.creatorId === this.userService.userId) { @for (user of
  getChatUsers(directMessage.talkToUserId); track user){
  <div class="user" routerLink="/main/{{ directMessage.id }}">
    <img src="{{ user.avatar }}" alt="" />
    <div class="dot"></div>
    <p>{{ user.firstName }} {{ user.lastName }}</p>
  </div>
  } } }
</section>
