// .content{
// display: flex;
// justify-content: center;
// }
.loginSektion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #eceefe;
 
  // max-width: 1920px; für max width aufbau
   // position: relative;
}
.loginContainer {
  max-width: 606px;
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 16px;
  max-height: 690px;
  height: 100%;
}
.loginTop {
  // margin-top: 32px;   ursprung aber damit beim switchen gleich bleibt mal testen unter hier->
  // margin-bottom: 24px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  > span {
    width: 90%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-right: 48px;
    color: #444df2;
  }
}

.loginBackImg {
  cursor: pointer;
}
.loginInfoText {
  margin-bottom: 24px;
  text-align: center;
  max-width: 486px;
  > span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}
.inputContainer {
  position: relative;
  margin-bottom: 32px;
}
.iconP {
  position: absolute;
  top: 18px;
  left: 20px;
}
.inputField {
  padding-left: 60px;
  border: 1px solid #ffff;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background: #eceefe;
  height: 60px;
  border-radius: 100px;
  &:hover {
    border: 1px solid#686868;
  }
  &:focus {
    border: 1px solid #444df2;
  }
}
.error {
  color: #ED1E79;
  position: absolute;
  margin: 4px;
  font-size: 14px;
}
.contactForm {
  width: 90%;
}
.passwordContainer {
  text-align: center;
  color: rgba(121, 126, 243, 1);
  font-size: 18px;
  font-weight: 400px;
  margin-bottom: 32px;
  margin-top: 40px;
  > span {
    font-family: Figtree, sans-serif, Nunito;
    color: #797ef3;
    &:hover {
      cursor: pointer;
      font-weight: 500;
      background-color: #eceefe;
      padding: 12px 16px 12px 16px;
      border-radius: 100px;
      color: #444df2;
    }
  }
}
.separatorContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 32px;
  > div {
    border: 1px solid #adb0d9;
    width: 42%;
    height: 0px;
    display: flex;
    justify-content: center;
  }
}
.googleLogingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #ffff;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background: #eceefe;
  height: 60px;
  border-radius: 100px;
  color: rgba(121, 126, 243, 1);
  &:hover {
    font-weight: 700;
    border: 1px solid #444df2;
    color: #444df2;
    cursor: pointer;
  }
}

.loginBottom {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 30px;
}

button {
  padding: 12px 25px;
  color: #fff;
  background-color: #cacad6;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: 0.2s;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
}
.aktivButton {
  padding: 12px 25px;
  color: #fff;
  background-color: #444df2;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: 0.2s;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: #676eec;
  }
}
.aktivInput {
  border: 1px solid#686868;
}
.guestButton {
  padding: 12px 25px;
  color: #444df2;
  background-color: #ffff;
  border: 1px solid #444df2;
  outline: none;
  box-sizing: border-box;
  transition: 0.2s;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: #444df2;
    color: #fff;
    border: 1px solid #ffff;
  }
}