<div class="loginSektion startIntroScrollProtect">
  <app-start-header></app-start-header>
  <div class="loginContainer">
    <div class="loginTop">
      <span>Anmeldung</span>
    </div>
    <div class="loginInfoText">
      <span
        >Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.</span
      >
    </div>
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="contactForm">
      <div class="inputContainer">
        <img class="iconP" src="/assets/img/login/mail.png" alt="" />
        <input
          class="inputField"
          #emailField="ngModel"
          [(ngModel)]="loginService.email"
          id="email"
          name="email"
          type="email"
          placeholder="email"
          required
          [ngClass]="{ aktivInput: emailField.valid && emailField.touched }"
          pattern="[^@]+@[^.]+\..+"
        />
        @if (!emailField.valid && emailField.touched) {
        <p class="error">*Email ist erforderlich.</p>
        }
      </div>
      <div class="inputContainer">
        <img class="iconP" src="/assets/img/login/lock.png" alt="" />
        <input
          class="inputField"
          #passwordField="ngModel"
          minlength="6"
          [(ngModel)]="this.loginService.password"
          name="password"
          placeholder="Passwort"
          id="message"
          required
          [ngClass]="{
            aktivInput: passwordField.valid && passwordField.touched
          }"
          cols="30"
          rows="10"
        />
        @if (!passwordField.valid && passwordField.touched) {
        <p class="error">*Passwort ist erforderlich.</p>
        } @if (loginService.errorMessage) {
        <p class="error">{{ loginService.errorMessage }}</p>
        }
      </div>

      <div class="passwordContainer">
        <span routerLink="/passwordForget">Passwort vergessen?</span>
      </div>

      <div class="separatorContainer">
        <div></div>
        <span>ODER</span>
        <div></div>
      </div>

      <div (click)="loginService.googleLogin()" class="googleLogingContainer">
        <img src="/assets/img/login/google.svg" alt="" />
        <span>Anmeldung mit Google</span>
      </div>

      <div class="loginBottom">
        <button
          type="submit"
          [ngClass]="{ aktivButton: contactForm.valid }"
          [disabled]="!contactForm.valid"
        >
          Anmelden
        </button>
        <button
          type="button"
          class="guestButton"
          (click)="loginService.guestLogin()"
        >
          Gäste-Login
        </button>
      </div>
    </form>
  </div>
  <div class="mobileRegisterContainer">
    <div>
      <span>Neu bei DABubble?</span>
      <div class="mobileCreateAccountContainer">
        <span routerLink="/register" class="mobileCreateAccoun"
          >Konto erstellen</span
        >
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
