section {
  width: 366px;
  min-height: 100%;
  border-radius: 24px;
  background-color: #fff;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    img {
      width: 60px;
      height: 60px;
      background-color: black;
      border-radius: 100%;
      margin-right: 12px;
    }
    p {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.channels,
.directMessages,
.headline {
  padding: 36px 36px 0 36px;
}
