<section>
  <div class="headline">
    <div class="logo">
      <img src="assets/img/sidebar/workspace-logo.svg" alt="" />
      <p>Devspace</p>
    </div>
    <app-small-btn
      [imgSrc]="'sidebar/new-chat.svg'"
      [imgSize]="'24px'"
      [btnSize]="'48px'"
      [btnBgHoverColor]="'#edeefe'"
    >
    </app-small-btn>
  </div>
  <div class="channels">
    <app-sidebar-channels></app-sidebar-channels>
  </div>
  <div class="directMessages">
    <app-sidebar-direct-messages></app-sidebar-direct-messages>
  </div>
</section>
