@import '../../../../styles.scss';

section {
  margin: 24px;
  padding: 24px;
  padding-bottom: 54px;
  height: 95px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  >textarea{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    resize: none;
    font-family: "Nunito";
    font-size: large;
    position: relative;
    input{
      position: absolute;
      top: 0;
      left: 0;
      background-color: blue;
      width: 10px;
      height: 10px;
    }
  }
  .positionAllIcons{
    @include displayFlex($j: space-between);
    .positionSpecialIcons{
      @include displayFlex($j: space-between, $g: 3px);
      .interactIcons{
        cursor: pointer;
        transition: filter 0.3s ease;
        padding: 8px;
        &:hover{
          scale: 1.1;
          background-color: #b7bae7;
          border-radius: 50%;
          filter: brightness(120%);
        }
      }
    }
  }
  .sendIcon{
    cursor: pointer;
    &:hover{
      scale: 1.1;
      filter: brightness(0) saturate(100%) invert(56%) sepia(97%) saturate(1270%) hue-rotate(204deg) brightness(95%) contrast(94%);
    }
  }
}


.fileBox {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #eee;
  max-width: 40px;
  max-height: 20px;
  margin-right: 12px;
  position: relative;
  @include displayFlex();
  .fileIcons{
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
  }
}


.posiotionDataFromPc{
  margin-top: -40px;
  display: flex;
  width: 60px;
}


.closeIcon{
  position: absolute;
  top: -4px;
  right: -4px;
  width: 12px;
  object-fit: contain;
  cursor: pointer;
  &:hover{
    background-color: red;
    border-radius: 50%;
  }
}