<section>
  <div class="headline">
    <div class="headlineText">
      <img src="assets/img/sidebar/arrow-drop-down.svg" alt="" />
      <img src="assets/img/sidebar/bubbles.svg" alt="" />
      <p>Channels</p>
    </div>
    <app-small-btn
      [imgSrc]="'add.svg'"
      [imgSize]="'14px'"
      [btnSize]="'28px'"
      [btnBgHoverColor]="'#edeefe'"
      (click)="channelService.addNewChannel()"
    >
    </app-small-btn>
  </div>
  @for (channel of getChannels(); track channel; let i = $index) {
  <div
    class="channelName"
    routerLink="/main/{{ channel.id }}"
    (click)="closeSecondaryChat()"
  >
    <img src="assets/img/hashtag.svg" alt="" />
    <p>{{ channel.name }}</p>
  </div>
  }
  <div class="addChannel" (click)="channelService.addNewChannel()">
    <div class="circle">
      <img src="assets/img/sidebar/add-circle.svg" alt="" />
    </div>
    <p>Add channel</p>
  </div>
  <app-add-new-channel  [ngClass]="{
    'dBlock': channelService.showAddChannelBox,
    'dNone': !channelService.showAddChannelBox
  }"></app-add-new-channel>
</section>

