app-header {
  display: block;
  height: 110px;
  background-color: #edeefe;
}

.content {
  display: flex;
}

app-sidebar,
app-main-chat,
app-secondary-chat,
app-privat-chat {
  padding: 12px;
  min-height: calc(100vh - 158px);
  background-color: #edeefe;
}

.chatBox {
  display: flex;
  width: 100%;
  flex-grow: 1;
  app-main-chat {
    width: 100%;
  }
  app-privat-chat {
    width: 100%;
  }
}

.minusWidth {
  width: calc(100% - 518px);
}

app-sidebar {
  width: 366px;
}

.slideIn {
  float: right;
  right: 0;
  transition: 0.3s ease-in-out;
  animation: slideIn;
}

.slideOut {
  float: left;
  margin-right: -390px;
  transition: 0.3s ease-in-out;
  animation: slideOut;
}

.slideInRightWindow {
  transition: 0.5s ease-in-out;
  width: 100%;
  padding: 12px;
  animation: slideIn;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    width: 100%;
    padding: 12px;
    transform: translateX(0);
  }
}

.slideOutRightWindow {
  transition: 0.5s ease-in-out;
  animation: slideOut;
  width: 0;
  padding-right: 0;
  padding-left: 0;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
