@if (userService.isUserLogin) {
<app-header></app-header>
<div class="content">
  <app-sidebar
    [ngClass]="{
      slideIn: channelService.isSidebarOpen,
      slideOut: !channelService.isSidebarOpen
    }"
  ></app-sidebar>
  <app-sidebar-toggle></app-sidebar-toggle>
  <div class="chatBox">
    <app-main-chat [currentChannel]="currentChannel"></app-main-chat>
    <!-- @if (isSecondaryChatOpen()) { -->
    <app-secondary-chat
      [currentChannel]="currentChannel"
      [ngClass]="{slideInRightWindow: !chatService.openRightWindow, slideOutRightWindow: chatService.openRightWindow}"
    ></app-secondary-chat>
    <!-- } -->
  </div>
</div>
}
<app-overlay></app-overlay>
