<div (click)="toggleBooleans()">
  @if (userService.isUserLogin) {
  <app-header></app-header>
  <div class="content">
    <app-sidebar
      [ngClass]="{
        slideIn: this.viewWidth >= 1300 && toggleAllBooleans.isSidebarOpen,
        slideOut: this.viewWidth >= 1300 && !toggleAllBooleans.isSidebarOpen,
      }"
      [ngStyle]="{
        'margin-right':
          this.viewWidth <= 1900 && chatService.isSecondaryChatOpen
            ? '-390px'
            : '',
            display:
            this.viewWidth <= 1300 && !toggleAllBooleans.isSidebarOpen
              ? 'none'
              : 'block',
      }"
    ></app-sidebar>
    <app-sidebar-toggle [viewWidth]="viewWidth"></app-sidebar-toggle>
    <div class="chatBox">
      <app-main-chat
        [currentChannel]="currentChannel"
        [viewWidth]="viewWidth"
        [ngStyle]="{
          display:
            this.viewWidth <= 1300 && chatService.isSecondaryChatOpen
              ? 'none'
              : 'block',
          width:
            this.viewWidth <= 1300 && chatService.isSecondaryChatOpen
              ? '0%'
              : '100%'
        }"
      ></app-main-chat>
      <app-secondary-chat
        [currentChannel]="currentChannel"
        [ngClass]="{
          slideInRightWindow:
            this.viewWidth >= 1300 && chatService.isSecondaryChatOpen,
          slideOutRightWindow:
            this.viewWidth >= 1300 && !chatService.isSecondaryChatOpen,
        }"
        [ngStyle]="{
          display:
            this.viewWidth <= 1300 && !chatService.isSecondaryChatOpen
              ? 'none'
              : 'block'
        }"
      ></app-secondary-chat>
    </div>
  </div>
  }
  <app-overlay></app-overlay>
</div>
