app-header {
  display: block;
  height: 110px;
  background-color: #edeefe;
}

.content {
  display: flex;
}

app-sidebar,
app-main-chat,
app-secondary-chat {
  padding: 12px;
  min-height: calc(
    100vh - 134px
  ); // Minus app-header:height & app-sidebar:padding
  background-color: #edeefe;
}

app-main-chat {
  width: 100%;
}

app-secondary-chat {
  min-width: 485px;
}
