* {
  font-family: Nunito;
}
.avatarSektion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #eceefe;
}
.avatarContainer {
  width: 606px;
  background-color: #fff;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 16px;
  // max-height: 669px;
  max-height: 690px;
  height: 100%;
}
.avatarTop {
  margin-top: 16px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  > span {
    width: 90%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-right: 48px;
    color: #444df2;
  }
}
.viewAvatarContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 24px;
  > img {
    height: 168px;
    width: 168px;
    border-radius: 100%;
    object-fit: cover;
  }
  > span {
    font-size: 32px;
    font-weight: 700;
  }
}
.chooseAvatarContainer {
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  > div {
    display: flex;
    gap: 4px;
    > span {
      font-size: 20px;
      font-weight: 400;
    }
    > img {
      height: 72px;
      border-radius: 100%;
      border:4px solid #ffff;
      cursor: pointer;
      &:hover{
        border: 4px solid #cacad6;
      }
    }
  }
}
.ownAvatarContainer {
  display: flex;
  gap: 32px;
  margin-right: 67px;
  > div {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
  }
}
.BtnUpload {
  background-color: #ffff;
  color: #444df2;
  border: 1px solid #444df2;
  &:hover {
    background-color: #444df2;
    color: #ffff;
  }
}

.avatarBottom {
  display: flex;
  justify-content: end;

  width: 100%;
}

button {
  padding: 12px 25px;
  color: #fff;
  background-color: #444df2;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: 0.2s;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.hoverBtn {
  &:hover {
    background-color: #676eec;
  }
}
