<div class="avatarSektion">
  <app-header></app-header>
  <div class="avatarContainer">
    <div class="avatarTop">
      <div [routerLink]="['/login']" class="registerBackImg">
        <app-small-btn
          [imgSrc]="'login/arrow-back.svg'"
          [imgSize]="'24px'"
          [btnSize]="'48px'"
          [btnBgHoverColor]="'#edeefe'"
        >
        </app-small-btn>
      </div>
      <span>Wähle deinen Avatar</span>
    </div>

    <div class="viewAvatarContainer">
        <img src="/assets/img/charater1.svg" alt="">
        <span>Fredi Hunse</span>
        
    </div>
    <div> 
        <!-- <input
        type="file"
        #fileInput
        id="file"
        style="display:none"
        (change)="uploadFile(uploadFile)"
        multiple
      /> -->
    </div>
    <div>
        <img [src]="avatarSrc" alt="Avatar" style="width: 100px; height: 100px;">
    </div>

    <div class="chooseAvatarContainer">
        <div><span>Aus der Liste wählen</span></div>
        <div>
            <img src="/assets/img/user-icons/female-1.svg" alt="">
            <img src="/assets/img/user-icons/female-2.svg" alt="">
            <img src="/assets/img/user-icons/guest.svg" alt="">
            <img src="/assets/img/user-icons/male-1.svg" alt="">
            <img src="/assets/img/user-icons/male-2.svg" alt="">
            <img src="/assets/img/user-icons/male-3.svg" alt="">
        </div>
    </div>

    <div class="ownAvatarContainer">
        <div>eigenes Bild verwenden</div>
        <label for="fileUpload">Choose a File</label>
        <input id="fileUpload" type="file" #upload>
        <div> <button (click)="uploadFile(upload)">Upload</button></div>
    </div>

    <div class="avatarBottom">
        <button>Weiter</button></div>
  </div>
  <app-footer></app-footer>
</div>
