<section>
  @for (channel of getChannelName(currentChannel); track channel) {
  <div class="header" (click)="showMenu()">
    <div class="headline">
      <img src="./../../../../assets/img/hashtag.svg" alt="" />
      <p>{{ channel.name }}</p>
      <img src="./../../../../assets/img/keyboardArrowDown.svg" alt="" />
    </div>
  </div>
  <!-- CHAT CONTENT-->
  <app-chat-content
    [getChatChannel]="getChatChannel"
    [getChatUsers]="getChatUsers"
    [getChats]="getChats"
    [getUsers]="getUsers"
    [currentChannel]="currentChannel"
  >
  </app-chat-content>
  }

  <div
    class="menu"
    [ngClass]="{ dBlock: openMenu, dNone: !openMenu }"
    (click)="showMenu()"
    (mousedown)="preventClose($event)"
  >
    <div class="whiteBox">
      @for (channel of getChannelName(currentChannel); track channel) {
      <div class="headerBox">
        <div class="headline">
          <img src="./../../../../assets/img/hashtag.svg" alt="" />
          <p>{{ channel.name }}</p>
        </div>
        <div class="closeBtn" (click)="closeMenu()">
          <img src="./../../../../assets/img/closeIcon.svg" alt="" />
        </div>
      </div>
      }
      <div class="contentChannel">
        @for (channel of getChannelName(currentChannel); track channel) {
        <div class="contentHeadline">
          <p>Channel Name</p>
          <span (click)="editChannelName()">Edit</span>
        </div>
        <div class="channelName">
          <img src="./../../../../assets/img/hashtag.svg" alt="" />
          <p>{{ channel.name }}</p>
        </div>
        }
      </div>

      <div class="contentChannel">
        @for (channel of getChannelName(currentChannel); track channel) {
        <div class="contentHeadline">
          <p>Description</p>
          <span (click)="editChannelName()">Edit</span>
        </div>
        <div class="channelName">
          <p>{{ channel.description }}</p>
        </div>
        <div class="line"></div>
        <div class="contentHeadline">
          <p>Created by</p>
        </div>
        <div class="channelCreator">
          @for (user of getChatUsers(channel.creator); track user) {
          <p>{{ user.firstName }} {{ user.lastName }}</p>
          }
        </div>
        }
      </div>
      <div class="leaveChannel"><p>Leave channel</p></div>
    </div>
  </div>
</section>
