<section>
  @if(checkCurrentChannel(currentChannel) == 'allPrvChannels'){ @for (user of
  getPrvChat(currentChannel); track user; let i = $index) {
  <div class="headerPrvChat">
    <div class="headlinePrvChat" (click)="openUserProfil()">
      @if (user.talkToUserId == userService.userId) {
      <div class="imgBoxPrvChat">
        <img
          class="imgUserPrvChat"
          src="{{ filterUser(user.creatorId)[i].avatar }}"
        />
      </div>
      <p>
        {{ filterUser(user.creatorId)[i].firstName }}
        {{ filterUser(user.creatorId)[i].lastName }}
      </p>
      } @else {
      <div class="imgBoxPrvChat">
        <img
          class="imgUserPrvChat"
          src="{{ filterUser(user.talkToUserId)[i].avatar }}"
        />
      </div>
      <p>
        {{ filterUser(user.talkToUserId)[i].firstName }}
        {{ filterUser(user.talkToUserId)[i].lastName }}
      </p>
      }
    </div>
  </div>
  <app-chat-content
    [getChatChannel]="getChatChannel"
    [getChatUsers]="getChatUsers"
    [getChats]="getChats"
    [getUsers]="getUsers"
    [currentChannel]="currentChannel"
  >
  </app-chat-content>
  } } @else if (checkCurrentChannel(currentChannel) == 'allChannels') { @for
  (channel of getChannelName(currentChannel); track channel) {
  <div class="header">
    <div class="headline" (click)="showMenu()">
      <img src="assets/img/hashtag.svg" alt="" />
      <p>{{ channel.name }}</p>
      <img src="assets/img/keyboardArrowDown.svg" alt="" />
    </div>
  </div>
  <app-chat-content
    [getChatChannel]="getChatChannel"
    [getChatUsers]="getChatUsers"
    [getChats]="getChats"
    [getUsers]="getUsers"
    [currentChannel]="currentChannel"
  >
  </app-chat-content>
  }
  <!-- Channel description dialog -->
  <div
    class="menu"
    [ngClass]="{ dBlock: openMenu, dNone: !openMenu }"
    (mousedown)="preventClose($event)"
  >
    <div class="whiteBox">
      @for (channel of getChannelName(currentChannel); track channel) {
      <div class="headerBox">
        <div class="headline">
          <img src="assets/img/hashtag.svg" alt="" />
          <p>{{ channel.name }}</p>
        </div>
        <div class="closeBtn" (click)="closeMenu()">
          <img src="assets/img/closeIcon.svg" alt="" />
        </div>
      </div>
      }
      <div class="contentChannel">
        @for (channel of getChannelName(currentChannel); track channel) {
        <div class="contentHeadline">
          <p>Channel Name</p>
          <span (click)="editChannelName()">Edit</span>
        </div>
        <div class="channelName">
          <img src="assets/img/hashtag.svg" alt="" />
          <p>{{ channel.name }}</p>
        </div>
        }
      </div>
      <div class="contentChannel">
        @for (channel of getChannelName(currentChannel); track channel) {
        <div class="contentHeadline">
          <p>Description</p>
          <span (click)="editChannelName()">Edit</span>
        </div>
        <div class="channelName">
          <p>{{ channel.description }}</p>
        </div>
        <div class="line"></div>
        <div class="contentHeadline">
          <p>Created by</p>
        </div>
        <div class="channelCreator">
          @for (user of getChatUsers(channel.creator); track user) {
          <p>{{ user.firstName }} {{ user.lastName }}</p>
          }
        </div>
        }
      </div>
      <div class="leaveChannel"><p>Leave channel</p></div>
    </div>
  </div>
  }
</section>
