@import "./../../../styles.scss";

section {
  height: 100%;
  border-radius: 24px;
  background-color: #fff;
}

.header {
  height: 40px;
  padding: 24px 48px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  @include displayFlex($j: space-between);
}

.headerBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headline {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  max-width: fit-content;
  cursor: pointer;
  img {
    &:first-child {
      width: 24px;
      height: 24px;
      padding-right: 12px;
    }
    &:nth-child(2) {
      width: 14px;
      height: 8px;
    }
  }
  p {
    font-size: 24px;
    font-weight: 700;
    padding-right: 12px;
  }
  &:hover {
    background-color: #edeefe;
    border-radius: 24px;
  }
}

.addUserToChannelBox{
  @include displayFlex($g: 12px);
  .addedUsers{
    @include displayFlex($g: 8px);
    width: auto;
    height: 40px;
    padding: 3px;
    padding-left: 26px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:hover{
      background-color: #EDEEFE;
    }
    .userAvatar{
      width: 40px;
      height: 40px;
      object-fit: cover;
      background-color: whitesmoke;
      border-radius: 50%;
      @include displayFlex();
      margin-left: -22px;
      img{
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: 50%;
      }
    }
  }
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  .whiteBox {
    background-color: whitesmoke;
    padding: 24px;
    width: 500px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: absolute;
    top: 200px;
    left: 460px;
  }
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
  &:hover {
    background-color: #edeefe;
    border-radius: 100%;
    img {
      width: 15px;
      height: 15px;
    }
  }
  img {
    width: 13px;
    height: 13px;
  }
}

.contentChannel {
  margin-top: 12px;
  padding: 24px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  p {
    font-size: 18px;
    font-weight: 700;
  }
  .contentHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 18px;
      font-weight: 400;
      color: #545af1;
      cursor: pointer;
      &:hover {
        font-weight: 700;
      }
    }
  }

  .channelName {
    display: flex;
    align-items: center;
    margin-top: 18px;
    img {
      width: 16px;
      height: 16px;
      padding-right: 12px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
    }
  }
  .channelCreator {
    margin-top: 24px;
    p {
      font-size: 24px;
      font-weight: 200;
      color: #535af1;
    }
  }
}

.line {
  margin: 24px 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.leaveChannel {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 18px;
  p {
    padding: 12px 25px;
    border-radius: 25px;
    color: #fff;
    background-color: #444df2;
    cursor: pointer;
    &:hover {
      filter: opacity(70%);
    }
  }
}

// -------- prv chat--------


.headerPrvChat {
    height: auto;
    display: flex;
    padding: 8px 28px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
}

.headerBoxPrvChat {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headlinePrvChat {
    display: flex;
    align-items: center;
    padding: 8px;
    max-width: fit-content;
    cursor: pointer;
    .imgBoxPrvChat{
        @include displayFlex();
        margin-right: 16px;
        .imgUserPrvChat {
            width: 56px;
            height: 56px;
            object-fit: cover;
            border-radius: 50%;
          }
    }
    p {
      font-size: 24px;
      font-weight: 700;
      padding-right: 12px;
    }
    &:hover {
        background-color: #edeefe;
        border-radius: 35px;
    }
}

.headerSearhcBar{
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  @include displayFlex($a: flex-start, $g: 8px);
  flex-direction: column;
  padding: 16px;
  input{
    width: calc(100% - 8px);
    height: 36px;
    border-radius: 26px;
    padding-left: 8px;
    margin-right: 2px;
    font-size: larger;
    border: 1px solid #888dec;
    font-family: "Nunito", sans-serif;
    outline: none;
    &:hover{
        border: 1px solid #5f66e7;
    }
  }
}


.filteredElementWindow{
  z-index: 1;
  max-height: 240px;
  overflow: auto;
  scrollbar-width: none;
  position: absolute;
  left: 440px;
  top: 218px;
  border-radius: 25px;
  border-top-left-radius: 0;
  border: 1px solid #888dec;
  background-color: #FFFFFF;
  padding: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  @include displayFlex($a: flex-start);
  flex-direction: column;
  .user{
    @include displayFlex($j: flex-start);
    padding: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover{
      background-color: #EDEEFE;
      border-radius: 25px;
    }
    .positionImgs{
      @include displayFlex($a: flex-end);
      .avatarImg{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
      .onlineImg{
        margin-left: -12px;
        margin-bottom: -2px;
      }
    }
  }
}

.dotsImg{
  @include displayFlex($a: flex-end);
  margin-bottom: -26px;
  margin-left: -10px;
  img{
    width: 6px;
    height: 6px;
  }
}
