<section
  (mouseleave)="this.isEmojiPickerVisible = false"
  [ngClass]="{ mirror: isMirrored }"
>
  @if (!openOnSecondaryChat) {
  <app-small-btn
    [imgSrc]="'add-reaction.svg'"
    [imgSize]="'24px'"
    [btnSize]="'40px'"
    [btnBgColor]="'#fff'"
    [btnBgHoverColor]="'#edeefe'"
    (click)="toggleEmojiPicker()"
    [ngClass]="{ mirror: isMirrored }"
  >
  </app-small-btn>
  } @if(isEmojiPickerVisible) {
  <app-emoji-picker
    [output]="'id'"
    [ngClass]="{ mirror: isMirrored }"
    (emojiOutputEmitter)="emojiOutputEmitter($event, chat.id)"
    (emojiVisibleEmitter)="emojiVisibleEmitter($event)"
  ></app-emoji-picker>
  }
  <div class="emojiSection" [ngClass]="{ mirror: isMirrored }">
    @for (reaction of getReaction(chat.id); track reaction; let i = $index) {
    @if (reaction.id) {
    <div
      class="emoji"
      (click)="toggleEmoji(reaction.id)"
      (mousemove)="openDialog(reaction.id, $event)"
      (mouseleave)="closeDialog()"
    >
      @if (reaction.icon === "okay" || reaction.icon === "clap-hands") {
      <img src="./../../../../../assets/img/{{ reaction.icon }}.svg" />
      } @else {
      <ngx-emoji emoji="{{ reaction.icon }}"></ngx-emoji>
      }
      <span>{{ reaction.userId.length }}</span>
    </div>
    } }
  </div>

  <!-- DIALOG-->

  @if (reactionDialogId != '') { @for (reaction of
  getReactionDocId(reactionDialogId); track reaction) {
  <div
    class="dialog"
    [ngClass]="{ mirror: isMirrored }"
    [style.left.px]="dialogX"
    [style.top.px]="dialogY"
  >
    <div class="icon">
      @if (reaction.icon === "okay" || reaction.icon === "clap-hands") {
      <img src="./../../../../../assets/img/{{ reaction.icon }}.svg" />
      } @else {
      <ngx-emoji emoji="{{ reaction.icon }}"></ngx-emoji>
      }
    </div>
    <div class="name">
      @for (reactionUId of getReactionDocId(reactionDialogId)[0].userId; track
      reactionUId;) {
      <div class="user">
        {{ getUserId(reactionUId)[0].firstName }}
        {{ getUserId(reactionUId)[0].lastName }}
      </div>
      }
    </div>
    @if (getReactionDocId(reactionDialogId)[0].userId.length > 1) {
    <p>haben reagiert.</p>
    } @else {
    <p>hat reagiert.</p>
    }
  </div>
  } }
</section>
